@page "/dashboard"

<PageTitle>Dashboard</PageTitle>
<div class="d-flex flex-grow-1 flex-row">
    <MudContainer Style="">
        <MudText Typo="Typo.h6" Class="pa-4">Timesheets</MudText>
        <MudPaper Class="pa-4 flex-grow-1"  Elevation=0 Style="height:100%" Outlined Square>
            <MudBlazorPlayground.Pages.Dashboard.Components.TabbedWeeklyTimeSheet />
            @*<MudBlazorPlayground.Pages.Dashboard.Components.TimesheetHorizontalList />*@
            
        </MudPaper>
    </MudContainer>
    <div>
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudText Typo="Typo.h6"  Class="pa-4 ml-6">Weekly Forecast</MudText>
            <MudPaper Class="px-3 pa-8 ml-6" MinWidth="400px" Style="height:100%"  Elevation=0 Outlined Square>
                <ForecastList />
            </MudPaper>
        </MudHidden>
    </div>


</div>